parameters:
    level: 5
    paths:
        - core
    excludePaths:
        - content/themes (?)
        - content/addons (?)
        - uploads (?)
        - cache (?)
        - _frontend (?)
        - _reference (?)
    reportUnmatchedIgnoredErrors: false
    ignoreErrors:
        # Event callbacks modify static state, PHPStan can't track this
        - '#If condition is always false#'
